body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 {
	text-align: center;
}

p {
	max-width: 60%;
	text-align: justify;
}


main {
	width: 70%;
	margin: 50px auto;
	clear: both;
}

#container {
	float: right;
	margin: 0 0 20px 20px;
	width: 300px;
}

#container img {
	max-width: 250px;

}


a {
  color: blue;
  background-color: transparent;
}

a:hover {
  color: black ;
  background-color: yellow ;
}


footer {
	font-size: 1em;
	text-align: center;
	padding-top: 50px;
	color: #ccc;
	padding: 20px 10px;
	background-color: white;
	clear: left;
}

img.social-icon {
    max-width: 3%;
}

/*#back {background-color: #6d695c;*/
/*background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px;
}*/

